body {
    padding: 0;
    margin: 0 5px 5px 5px;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

#banner {    
    background: #F5F5F5;
    width: 100%;
    height: 20px;
    padding: 10px 0 35px 20px;
    margin-left: -5px;
    font-weight: 800;
    display: grid;
    grid-template-columns: 1.5fr 18fr 3.5fr 1fr 1.4fr;
    font-size: 20px;
    font-family: 'Montserrat', 'Open Sans';
    /* position: absolute; */
}

span[tooltip]::before {
    content: '';
    opacity: 0;
}

span[tooltip]:hover::before {
    content: attr(tooltip);
    opacity: 1;
    position: absolute;
    top: 60px;
    right: 2%;
    background: rgba(0, 0, 0, .7);
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 10px;
    
    transition: opacity 1ms ease-in-out;
}

.ico_btn_dark img {
    border-radius: 100px;
    transition: all .2s ease-in;
}

.ico_btn_dark img:hover {
    background: #00000013;
}

.ico_btn_dark img:active {
    background: #00000038;
}

select {
    border: 2px solid #ad9bf8;
    border-radius: 10px;
    outline: none;
}

a {
    color: #ad9bf8;
    text-decoration: none;
}

#code {
    font-size: 20px;
    width: 99%;
    outline: none;
    border: 3px solid rgba(83, 81, 81, 0.6);
    border-radius: 10px;
    padding: 5px 0 0 10px;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, .3);
    background: #1f2223;
    color: #ffffff;
    
    transition: all 250ms ease-in;
}

canvas {
    border-radius: 10px;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, .3);
}

#code:focus {
    border: 3px solid rgba(11, 44, 230, 0.5);
}

#logo-canvas {
    margin: 5px 5px 5px 0;
    cursor: -webkit-grab;
}
